#edit_page.col-md-8.col-md-offset-2
  .row
    .panel.panel-default
      .panel-body
        .container
          .row
            %sidebar.profile-menu.col-sm-4
              - if resource.avatar.attached?
                .avatar-round= image_tag resource.resize_avatar(150)
              = link_to "Edit Profile", edit_profile_path(resource), class: 'edit-link'
                  
            .col-sm-8
              = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
                = f.error_notification
                .form-group
                  = f.input :email, required: false, autofocus: true, input_html: { class: 'form-control' }
                  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
                    %p
                      Currently waiting confirmation for: #{resource.unconfirmed_email}
                .form-group
                  = f.input :password,                                     |
                    required: false,                                       |
                    input_html: { autocomplete: "new-password", class: 'form-control' }           |
                .form-group
                  = f.input :password_confirmation,              |
                    required: false,                             |
                    input_html: { autocomplete: "new-password", class: 'form-control' } |
                .form-group
                  = f.input :current_password,                                     |
                    required: false,                                                |
                    input_html: { autocomplete: "current-password", class: 'form-control' }               |
                %hr
                
                = f.button :submit, "Update", class: 'btn-info'
                = link_to "Cancel My Account", registration_path(resource_name), method: :delete, data: { confirm: 'Are you sure you want to cancel your account? You will lose all your images'}, class: 'btn btn-danger ml-5'