#edit_page.col-md-8.col-md-offset-2
	.row
		.panel.panel-default
			.panel-body
				.container
					.row						
						.col-sm-12
							.profile-info
								- if @user.avatar.present?
									= image_tag @user.avatar.url(:tiny), class: 'avatar-round'
								- else
									.grayed-out None
								.handle-group
									.handle= @user.handle
							.activity-info
								%strong= @user.pics.count
								posts
							%hr
							.user-info
								%strong.col-sm-2 Username
								.col-sm-10= @user.handle
							.user-info
								%strong.col-sm-2 Email
								.col-sm-10= @user.email
							- if @user.bio.present?
								.user-info
									%strong.col-sm-2 Bio
									.col-sm-10= @user.bio
						.col-sm-12
							- if user_signed_in?
								%hr
								= link_to "Edit", edit_profile_path(@user), class: 'btn btn-info'