= simple_form_for @pic, html: { multipart: true } do |f|
	.form-group
		= f.input :title, required: false, input_html: { class: 'form-control' }
	.form-group
		= f.input :description, required: false, input_html: { class: 'form-control', rows: 4 }
	.form-group
		= f.label :image
		= f.file_field :image, as: :file

	= f.button :submit, "Save", class: 'btn btn-info'

	- unless @pic.new_record?
		= link_to "Delete", pic_path(@pic), method: :delete, data: { confirm: 'Are you sure you want to delete this post?'}, class: 'btn btn-info'