.pic.box.panel{ id: "box-#{pic.id}" }
	.panel-heading
		%span.avatar-round			
			= link_to (image_tag pic.user.resize_avatar(50)), profile_path(pic.user)
		.handle-wrapper
			.handle= link_to pic.user.handle, profile_path(pic.user)
			.title= link_to pic.title, pic

			- gray_klass = pic.user != current_user ? 'grayed-out' : ''
			= link_to toggle_modal_pic_path(pic), remote: true, method: :put, data: { toggle: "modal-#{pic.id}", target: '#modal-window' } do
				%i.fas.fa-ellipsis-h{ class: gray_klass }
			#modal-window{ class: 'hide', aria: { hidden: true } }
				= render partial: 'edit_post', locals: { pic: pic }

	.panel-body
		= image_tag pic.resize_image(500)

	.panel-footer
		.actions-wrapper
			- liked_klass = pic.likes.liked.present? ? 'fas' : 'far'
			= link_to toggle_like_pic_path(pic), remote: true, method: :put, class: 'fa-heart-wrapper' do
				%i.fa-heart{ class: liked_klass }
		#comments
			= render pic.comments
			.time-ago= "#{time_ago_in_words(pic.created_at)} ago"
			= render partial: 'comments/form', locals: { pic: pic, id: pic.id }