.col-md-6.col-md-offset-3
	.pic.box.panel
		.panel-heading
			%span.avatar-round= link_to (image_tag @pic.user.avatar.url(:tiny)), profile_path(@pic.user)
			.handle-wrapper
				.handle= link_to @pic.user.handle, profile_path(@pic.user)
				.title= link_to @pic.title, @pic
		.panel-body
			= image_tag @pic.image.url(:medium)
		
		.panel-footer
			#comments
				= render partial: 'form', locals: { pic: @pic }