.col-md-6.col-md-offset-3
	.pic.box.panel
		.panel-heading
			%span.avatar-round= link_to (image_tag @pic.user.resize_avatar(50)), profile_path(@pic.user)
			.handle-wrapper
				.handle= link_to @pic.user.handle, profile_path(@pic.user)
				.title= link_to @pic.title, @pic
		.panel-body
			.pic-wrapper
				= image_tag @pic.resize_image(350)
				= link_to edit_attachment_pic_path(@pic), remote: true, method: :put do
					%i.fas.fa-pen
		
		.panel-footer
			#comments
				= render partial: 'form', locals: { pic: @pic }