%h1 Pics Index

%strong Share your life!
%button=link_to "Add new pic", new_pic_path

- @pics.each do |pic|
	%h3= link_to pic.title, pic
	%h4= pic.user.handle
	%p= "#{time_ago_in_words(pic.created_at)} ago"

	- if pic.user == current_user
		= link_to "Edit", edit_pic_path(pic)
		|
		= link_to "Delete", pic_path(pic), method: :delete, data: { confirm: 'Are you sure you want to delete this Post?'}