#show_page.col-md-8.col-md-offset-2
	.row
		.panel.panel-default
			.panel-body
				.container
					.profile-info
						- if @pic.user.present?
							= image_tag @pic.user.avatar.url(:tiny), class: 'avatar'
						.handle-group
							.handle=@pic.user.handle
					%hr.mtb-10
					%p.title= @pic.title
					= image_tag @pic.image.url(:medium), class: 'image-block'
					%p.description
						%strong= @pic.user.handle
						= @pic.description
					%p.caption= "Posted #{time_ago_in_words(@pic.created_at)} ago"
					%hr.mtb-10
					- if @pic.user == current_user
						= link_to "Edit", edit_pic_path(@pic), class: 'btn btn-info mt-10'