!!!
%html
  %head
    %title PicShare
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  
  %body
    %nav.navbar.navbar-inverse
      .container
        .navbar-brand= link_to "PicShare", root_path

        %ul.nav.navbar-nav.navbar-left
          - if user_signed_in?
            %li= link_to "Add New Post", new_pic_path
            %li= link_to "Settings", edit_user_registration_path
            %li= link_to "My profile", edit_profile_path(current_user)
            %li= link_to "Logout", destroy_user_session_path, method: :delete
          - else
            %li= link_to "Join Now", new_user_registration_path
            %li= link_to "Log In", new_user_session_path

    .container
      - flash.each do |name, msg|
        - klass = name == 'notice' ? 'alert-success' : 'alert-info'
        = content_tag :div, msg, class: "alert #{klass}"

      = yield
